* {
    font-family: Arial, sans-serif;
}

body {
    padding-left: 20px; 
    padding-right: 20px; 
    
}

.indent {
    margin-left: 20px;
}
 
.title {
    text-align: center;
}



.highlight {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    background-color: gainsboro;
}
